@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --bg-color: #fff;
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-bark-blue: hsl(229, 31%, 21%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global styles */
body {
  background-color: var(--bg-color);
  font-family: 'Rubik', serif;
}

a {
  text-decoration: none;
  font-size: 15px;
}

p {
  line-height: 1.5;
  color: var(--grayish-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--very-bark-blue);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 50px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 40px;
}

.navbar a {
  color: var(--very-bark-blue);
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: var(--soft-red);
}

.navbar .login-btn {
  background-color: var(--soft-red);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 8px 30px;
}

.navbar .login-btn:hover {
  background-color: #fff;
  color: var(--soft-red);
  border-color: var(--soft-red);
}

.menu-open,
.menu-close {
  display: none;
  cursor: pointer;
}

/* hero section styles */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section .hero-title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 2rem;
}

.hero-section .hero-text {
  margin-bottom: 25px;
}

.cta-btn {
  padding: 14px 25px;
  border: 2px solid transparent;
  border-radius: 3px;
  background-color: var(--soft-blue);
  color: #fff;
  transition: all 0.3s ease;
  font-weight: 500;
}

.cta-btn:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border-color: var(--soft-blue);
}

.gray {
  margin-left: 10px;
  background-color: var(--grayish-blue);
}
.gray:hover {
  border-color: var(--grayish-blue);
  color: var(--grayish-blue);
}

.hero-section img {
  width: 500px;
}

/* features section styles */
.features {
  margin-top: 25px;
}

.features .heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.features > p {
  text-align: center;
  margin-bottom: 25px;
}

.features-tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3em;
}

.features-tabs a {
  color: var(--grayish-blue);
  padding: 15px 50px 18px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
}

.features-tabs a:hover {
  color: var(--soft-red);
}

.features-tabs a.active {
  color: var(--very-bark-blue);
}

.features-tabs a.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--soft-red);
}

.tab {
  display: none;
  align-items: center;
  justify-content: center;
}

.tab.active {
  display: flex;
}

.tab img {
  max-width: 100%;
  width: 350px;
}

.tab-text {
  margin-left: 100px;
}

.tab-text h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.tab-text p {
  margin-bottom: 15px;
  font-size: 15px;
}

.tab-btn {
  display: inline-block;
  background: var(--soft-blue);
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 2px solid transparent;
}

.tab-btn:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border-color: var(--soft-blue);
}

/* extension styles */
.extension {
  margin-top: 5em;
}

.extension h3 {
  margin: 15px 0;
  text-align: center;
  font-size: 1.3rem;
}

.extension > p {
  text-align: center;
  margin-bottom: 0px;
}

.extension-broswer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.extension-broswer .box {
  background: var(--bg-color);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  overflow-x: hidden;
}
.extension-broswer .box-2 {
  margin-top: 3em;
}

.extension-broswer .box-3 {
  margin-top: 6em;
}

.box .browser-logo {
  width: 80px;
  height: auto;
}

.box h4 {
  margin: 30px 0 8px;
  font-weight: 600;
}

.box p {
  margin-bottom: 25px;
  font-size: 14px;
}

.extension-btn {
  margin-top: 20px;
  padding: 9px 25px;
  border: 2px solid transparent;
  border-radius: 3px;
  background-color: var(--soft-blue);
  color: #fff;
  transition: all 0.3s ease;
}

.extension-btn:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border-color: var(--soft-blue);
  font-weight: 500;
}

/* faq styles */
.faq-section {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 4em;
}

.faq-section h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.faq-section > p {
  text-align: center;
  font-size: 15px;
  margin: 0.8em 0 2em;
}

.faq-item {
  border-bottom: 1px solid #ebebeb;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 0;
  cursor: pointer;
}

.faq-question > span {
  color: var(--very-bark-blue);
  font-weight: 500;
}

.faq-question:hover > span {
  color: var(--soft-red);
  transition: all 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  color: #555;
  line-height: 2;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.show {
  max-height: 200px; /* Adjust this to fit your content */
  padding: 20px 0;
}

.icon {
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(180deg);
}

.icon img {
  width: 15px;
  transition: filter 0.3s ease;
}

.icon img.active {
  filter: invert(52%) sepia(35%) saturate(3213%) hue-rotate(326deg)
    brightness(100%) contrast(96%);
}

.faq-btn {
  display: block;
  width: 110px;
  background: var(--soft-blue);
  color: #fff;
  margin: 2em auto 0;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 2px solid transparent;
  text-align: center;
}

.faq-btn:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border-color: var(--soft-blue);
}

/* footer styles */
.email-subscription {
  background-color: var(--soft-blue);
  margin-top: 4em;
}

.email-subscription .email-container {
  padding: 4em 0;
  height: fit-content;
  width: 400px;
  margin: auto;
  color: #fff;
}

.social-links {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.social-links a {
  padding: 0 5px;
}

.social-links img:hover {
  background-color: var(--soft-red);
}

.email-subscription small {
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  text-align: center;
}

.email-subscription h3 {
  color: #fff;
  text-align: center;
  margin: 1em 0 1.5em;
  font-weight: 450;
  letter-spacing: 2px;
}

.email-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.email-container input[type='email'] {
  width: 100%;
  padding: 0.8em;
  font-family: 'Rubik', sans-serif;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
}

.email-container input[type='email'].error {
  border-color: var(--soft-red);
  border-radius: 4px 4px 0 0;
}

form img {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.email-container img.error {
  display: block;
}

.email-container .tooltip {
  display: none;
  position: absolute;
  background: var(--soft-red);
  font-size: 12px;
  padding: 0.5em;
  border-radius: 0 0 4px 4px;
  top: 80%;
  left: 0;
  width: 100%;
  text-align: left;
}

.email-container .tooltip.active {
  display: block;
}

.email-container input[type='submit'] {
  background: var(--soft-red);
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  padding: 0.8em;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.email-container input[type='submit']:hover {
  border-color: var(--soft-red);
  background-color: #fff;
  color: var(--soft-red);
}

/* responsiveness */
@media (max-width: 768px) {
  .hero-section br,
  .features-tab-content br {
    display: none;
  }

  .hero-section {
    margin-bottom: 3em;
  }

  .hero-section .hero-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .cta-btn {
    padding: 10px;
  }
  .hero-section img {
    width: 330px;
  }

  .tab {
    margin-top: -20px;
  }

  .features-tabs a {
    padding: 15px 25px 18px;
  }
  .tab img {
    width: 300px;
    margin-left: 40px;
  }

  .tab-text {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 10px;
  }

  .hero-section .hero-title br {
    display: block;
  }

  .navbar {
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: hsla(229, 31%, 21%, 0.897);
    width: 100%;
    height: 0vh;
    padding: 0 100px;
    text-align: center;
    transition: height 0.5s ease;
  }

  .navbar ul {
    flex-direction: column;
    margin-top: 20px;
  }

  .navbar ul li {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .navbar ul li:last-child {
    margin-top: 10px;
    border-bottom: none;
  }

  .navbar a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    letter-spacing: 4px;
    transition: color 0.3s ease;
  }

  .navbar a:hover {
    color: var(--soft-red);
  }

  .navbar .login-btn {
    width: 100%;
    background: none;
    border: 2px solid var(--grayish-blue);
    border-radius: 3px;
    padding: 8px 100px;
    font-weight: 500;
  }

  .navbar .login-btn:hover {
    background: none;
    color: #fff;
    border-color: #fff;
  }

  .navbar.active {
    height: 45vh;
  }

  .menu-close.active {
    position: absolute;
    top: 90px;
    right: 25px;
    display: block;
  }

  .menu-open {
    display: block;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .hero-title {
    font-size: 1.7rem;
    text-align: center;
  }

  .hero-section .hero-text {
    text-align: center;
    margin: 15px 0 40px;
  }

  .cta-btn {
    text-align: center;
    margin-left: 55px;
    width: 50%;
    padding: 14px;
  }

  .cta-btn:hover {
    background-color: var(--soft-blue);
    color: #fff;
  }
  .gray {
    margin-left: 10px;
    background-color: var(--grayish-blue);
  }
  .gray:hover {
    background-color: var(--grayish-blue);
    color: #fff;
  }

  .hero-section img {
    width: 350px;
  }

  .features {
    margin-top: 4em;
  }

  .features br {
    display: none;
  }
  .features > p {
    margin-bottom: 35px;
  }

  .features-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3em;
  }

  .features-tabs a {
    padding: 20px 0;
  }
  .features-tabs a:first-child {
    border-top: 1px solid #ebebeb;
  }

  .features-tabs a.active::after {
    left: 35%;
    right: 35%;
  }

  .tab {
    margin-top: 2em;
    flex-direction: column;
  }

  .tab img {
    width: 300px;
  }

  .tab-text {
    margin-top: 2em;
    text-align: center;
  }

  .tab-text br,
  .extension br {
    display: none;
  }

  .tab-btn:hover {
    background: var(--soft-blue);
    color: #fff;
  }

  .extension {
    margin-top: 3em;
    gap: 20px;
  }

  .extension h3 {
    margin-bottom: 8px;
  }

  .extension-broswer {
    margin-top: 2em;
    flex-direction: column;
  }

  .extension-broswer .box {
    width: 220px;
    padding: 30px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  }
  .extension-broswer .box-2,
  .extension-broswer .box-3 {
    margin-top: 0em;
  }

  .extension-btn {
    padding: 8px 20px;
    border: none;
    font-size: 14px;
  }

  .extension-btn:hover {
    background-color: var(--soft-blue);
    color: #fff;
    font-weight: 400;
  }
  .faq-section br {
    display: none;
  }

  .faq-section {
    max-width: 400px;
    margin-top: 3em;
  }

  .faq-question:hover > span {
    color: var(--very-bark-blue);
    transition: none;
  }

  .faq-btn {
    transition: none;
    border: none;
  }

  .faq-btn:hover {
    background-color: var(--soft-blue);
    color: #fff;
  }

  .social-links img:hover {
    background: none;
  }

  .email-container form {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .email-container input[type='submit'] {
    width: 100%;
    margin-top: 2em;
    border: none;
    transition: none;
  }

  .email-container input[type='submit']:hover {
    background: var(--soft-red);
    color: #fff;
  }
}

@media (max-width: 375px) {
  .hero-section .hero-title {
    font-size: 1.5rem;
  }

  .cta-btn {
    margin-left: 20px;
    width: 25%;
    padding: 10px;
    transition: none;
  }

  .gray {
    margin-left: 6px;
  }

  .hero-section img {
    width: 300px;
  }

  .tab img {
    width: 250px;
    margin-right: 25px;
  }

  .extension-btn {
    transition: none;
  }

  .faq-section {
    max-width: 320px;
  }

  .faq-question > span {
    font-size: 14px;
  }

  .faq-question img {
    width: 11px;
  }

  .email-subscription small,
  .email-subscription h3 {
    margin-right: 40px;
  }

  .email-container form {
    padding-right: 40px;
  }
}
